{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="card">
  <div class="card-header">
    {{ card_header }}
  </div>
  <form method="post">{% csrf_token %}
    <div class="card-body">
      {{ form|crispy }}
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary">Submit</button>
      {% if update %}
        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
      {% else %}
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}